.homepagephoto{
	padding-left:40%;
	width: 90%;
	overflow: hidden;
		-webkit-animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        z-index: 1;

}
.sandpagephoto{
	position: absolute;
	padding-top:120px;
	width: 60%;
	overflow: hidden;
}
.coalpagephoto{
	position: absolute;
	padding-top:150px;
	padding-left: 400px;
	width: 60%;
	overflow: hidden;
	z-index: 1;
}
.marblepagephoto{
	position: absolute;
	padding-top:150px;
	padding-left: 500px;
	width: 60%;
	overflow: hidden;
	z-index: 1;
}


.topnav {
  background-color: ;
  overflow: hidden;
}


.topnav a {
  float: right;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.title{
	padding-left: 150px;
	position: absolute;
	font-size:200px;
	z-index: 2;
		-webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
	        animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
}
.titlesand{
	position: absolute;
	font-size:200px;
	padding-left: 400px;
}
.titlecoal{
	position: absolute;
	font-size:200px;
	padding-left: 300px;
	padding-bottom: 20px;
	z-index: 2;
}
.titlemarble{
	position: absolute;
	font-size:200px;
	padding-left: 300px;
	padding-bottom: 20px;
	z-index: 2;
}
.quote{
	position: absolute;
	margin-top: 550px;
	margin-left: 700px;
	margin-right: 100px;
	color: white;
	z-index: 2;
}
.quotesand{
		position: absolute;
	margin-top: 350px;
	margin-left: 870px;
	margin-right: 100px;

}

.quotecoal{
	position: absolute;
	margin-top: 200px;
	margin-left: 100px;
	margin-right: 950px;
	z-index: 2;
	background-color: white;
	padding: 20px;
}
.quotemarble{
	position: absolute;
	margin-top: 200px;
	margin-left: 60px;
	margin-right: 990px;
	z-index: 2;
	background-color: white;
	padding: 20px;
}


@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


